@model blogEngine.DataAccess.AuthorList
<h1> Create</h1>

<form asp-controller="Blog" asp-action="CreatePost">
    <label >Title</label>
    <input type="text" name="Title" >

    <label >Author</label>
    <select name="Author_id">
        
@foreach (var author in @Model.Authors)
{
    <option value="@author.Id">@author.Name</option>
}
    </select>

    <label>Content</label>
    <textarea name="Content" ></textarea>

    <input type="submit" value="Submit">

</form>